.about {
  padding: 10px;
  margin-top: 74px;
}

.about > h2 {
  padding: 12px;
}

.about--desc {
  margin: 40px;
}

.about--img--dark {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px white;
}

.about--img--light {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px gray;
}

.about--intro {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about--first {
  padding: 5px;
  padding-left: 30px;
  color: gray;
}

.about--last {
  padding: 5px;
  padding-left: 115px;
  color: gray;
  opacity: 60%;
}

.about--i {
  padding: 5px;
  padding-left: 115px;
  opacity: 80%;
}

.about--f {
  padding: 5px;
  padding-left: 150px;
  color: gray;
}

.about--w {
  padding: 5px;
  padding-left: 85px;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 40px;
  }

  .about--desc {
    margin: 5px;
  }

  .about--intro {
    margin: 10px;
    flex-direction: column;
    gap: 20px;
  }

  .about--img--dark {
    width: 200px;
    height: 200px;
  }

  .about--img--light {
    width: 200px;
    height: 200px;
  }
}