.about {
  padding: 10px;
  margin-top: 75px;
}

.about--desc {
  margin: 20px;
  display: flex;
}

.about--img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px white;
  /* box-shadow: 0 0 12px white; */
}

.about--p {
  margin: 20px;
}

/* Neon Text */
.neon {
  padding: 12px;
  font-family: 'Comfortaa', cursive;
  text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0580d1,
      0 0 54px #0580d1;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 0px;
  }

  .about--desc {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about--img {
    width: 200px;
    height: 200px;
  }
}