.about {
  padding: 10px;
  margin-top: 74px;
}

.about > h2 {
  padding: 12px;
}

.about--desc {
  margin: 40px;
  line-height: 1.6;
}

.about--img--dark {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px white;
}

.about--img--light {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px gray;
}

.about--intro {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about--first {
  padding: 5px;
  position: relative;
  right: 10%;
  text-align: right;
  background-color: goldenrod;
  color: black;
  letter-spacing: 5px;
  border: 0.1px solid black;
}

.about--last {
  padding: 5px;
  position: relative;
  left: 10%;
  text-align: right;
  background-color: goldenrod;
  color: black;
  letter-spacing: 5px;
  border: 0.1px solid black;
}

.about--i {
  padding: 5px;
  position: relative;
  left: 25%;
  opacity: 80%;
}

.about--f {
  padding: 10px;
  position: relative;
  left: 10%;
  text-align: center;
  color: goldenrod;
  background-color: black;
  border: 0.1px solid goldenrod;
}

.about--w {
  padding: 10px;
  position: relative;
  right: 5%;
  text-align: center;
  color: goldenrod;
  background-color: black;
  border: 0.1px solid goldenrod;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 40px;
  }

  .about--desc {
    margin: 5px;
  }

  .about--intro {
    margin: 10px;
    flex-direction: column;
    gap: 20px;
  }

  .about--img--dark {
    width: 200px;
    height: 200px;
  }

  .about--img--light {
    width: 200px;
    height: 200px;
  }
}