.contact {
  padding: 10px;
}
.contact--details {
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact--email {
  display: flex;
  align-items: center;
  font-size: 14pt;
}

.contact--svg {
  margin: 10px;
  font-size: 24pt;
  color: yellowgreen;
}

.contact--email > p {
  color: #fff;
  margin-right: 30px;
}

/* Neon Text */
.neon {
  padding: 12px;
  font-family: 'Comfortaa', cursive;
  text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0580d1,
      0 0 54px #0580d1;
}

@media only screen and (max-width:600px) {
  .contact--details {
    padding: 10px;
  }

  .contact--email > p {
    margin-right: 5px;
  }
}