.contact {
  padding: 10px;
  padding-bottom: 25px;
}

.contact > h2 {
  padding: 10px;
  margin-top: 74px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 1px;
  background-color: yellowgreen;
  color: black;
  width: 350px;
  text-align: center;
  position: relative;
  left: 4%;
}

.contact--details {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 80px;
}

.contact--option {
  display: flex;
  align-items: center;
  font-size: 14pt;
}

.contact--svg {
  margin: 10px;
  font-size: 24pt;
  color: yellowgreen;
}

.contact--email--dark {
  color: #fff;
}
.contact--email--light {
  color: black;
}

@media only screen and (max-width:600px) {
  .contact--details {
    padding: 10px;
  }
}