.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar--avatar {
  width: 55px;
  border-radius: 50px;
}

.navbar--links {
  display: flex;
  margin-left: 30px;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .navbar--avatar {
    width: 40px;
  }

  .navbar--links {
    display: none;
  }
}
