.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar--avatar {
  width: 55px;
  border-radius: 50px;
}

.navbar--links {
  display: flex;
  margin-left: 30px;
  gap: 20px;
}
.navbar--hammenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar--avatar {
    display: none;
  }

  .navbar--links {
    display: none;
  }

  .navbar--hammenu {
    display: block;
  }

  .navbar--hammenu--icon {
    font-size: 30px;
  }

  .navbar--hammenu--options {
    padding: 20px 10px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    background-color: #021122;
    position: absolute;
    text-align: center;
    z-index: 99;
    left: 0;
    top: 100%;
    font-size: 20px;
  }
}
