.navbar--dark {
  background-color: black;
}

.navbar--light {
  background-color: white;
}

.sName {
  display: none;
}


@media only screen and (max-width: 600px) {
  .fName {
    display: none;
  }

  .sName {
    display: block;
  }
}
