.projects {
  padding: 10px;
}

.projects--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  padding: 0px 10px;
  gap: 20px;
}

.projects--title > button {
  font-size: 26px;
  font-weight: 600;
  background: none;
  border: none;
  color: white;
}

/* .projects--title > h3 {
  font-family: 'Comfortaa', cursive;
} */

.svg {
  font-size: 30px;
  color: yellowgreen;
}

.projects--demo > p {
  text-align: justify;
  text-justify: inter-word;
}

.projects--demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}

.projects--demo > iframe {
  height: 600px;
  width: 900px;
  margin: 20px;
  border: none;
}

/* Neon Text */
.neon {
  padding: 12px;
  font-family: 'Comfortaa', cursive;
  text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0580d1,
      0 0 54px #0580d1;
}

@media only screen and (max-width:600px) {
  .projects--title {
    margin: 15px 5px;
    padding: 0px 10px;
    font-size: 10pt;
  }

  .projects--demo {
    padding: 0px 10px;
  }
  
  .projects--demo > iframe {
    height: 240px;
    width: 360px;
    margin: 5px;
  }
}