.projects {
  padding: 10px;
}

.projects > h2 {
  padding: 12px;
}

.projects--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  padding: 0px 10px;
  gap: 20px;
}

.projects--title > button {
  font-size: 26px;
  font-weight: 600;
  background: none;
  border: none;
  color: inherit;
  margin-top: 4px;
}

.svg {
  font-size: 30px;
  color: yellowgreen;
}

.projects--demo > p {
  text-align: left;
}

.projects--demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}

.projects--demo > video {
  height: 600px;
  width: 900px;
  margin: 20px;
  border: none;
}

@media only screen and (max-width:600px) {
  .projects--title {
    margin: 15px 5px;
    padding: 0px 10px;
    font-size: 10pt;
  }

  .projects--demo {
    padding: 0px 10px;
  }
  
  .projects--demo > video {
    height: 240px;
    width: 360px;
    margin: 5px;
  }
}

@media only screen and (min-width:601px) and (max-width:900px) {
  .projects--demo > video {
    height: 300px;
    width: 600px;
  }
}