.projects {
  padding: 10px;
}

.projects > h2 {
  padding: 12px;
}

.projects--title {
  display: flex;
  align-items: center;
  margin: 20px 40px;
  width: 320px;
  height: 220px;
}

.projects--thumb {
  width: 320px;
  height: 220px;
  border-radius: 10px;
}

.projects--header {
  position: relative;
  right: 100%;
  min-width: 320px;
  min-height: 220px;
  font-size: 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: gray;
  border-radius: 10px;
  line-height: 1.6;
  transition: 500ms;
}

.projects--header:hover {
  opacity: 1;
}

.svg {
  font-size: 28px;
  margin-left: 20px;
  color: yellowgreen;
}

.projects--demo > p {
  line-height: 1.6;
}

.projects--demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}

.projects--demo > video {
  height: 600px;
  width: 900px;
  margin: 20px;
  border: none;
}

@media only screen and (max-width:600px) {
  .projects--title {
    align-items: center;
  }

  .projects--demo {
    padding: 0px 10px;
  }
  
  .projects--demo > video {
    height: 240px;
    width: 360px;
    margin: 5px;
  }
}

@media only screen and (min-width:601px) and (max-width:900px) {
  .projects--demo > video {
    height: 300px;
    width: 600px;
  }
}