.skills {
  padding: 10px;
  border: 1px solid white;
}

.skills--icons {
  padding: 10px;
}

.skills--svg {
  font-size: 48px;padding: 10px;
}
/* Neon Text */
.neon {
  padding: 12px;
  font-family: 'Comfortaa', cursive;
  text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0580d1,
      0 0 54px #0580d1;
}