.skills {
  padding: 10px;
}

.skills > h2 {
  padding: 10px;
  margin-top: 74px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 1px;
  background-color: yellowgreen;
  color: black;
  width: 350px;
  text-align: center;
  position: sticky;
  top: 75px;
  z-index: 3;
  left: 4%;
}

.skills--icons {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px 50px 30px 50px;
}

.skills--each--icon {
  text-align: center;
  padding: 20px;
}

.skills--svg {
  font-size: 80px;
  padding: 10px;
  fill: yellowgreen;
}

@media only screen and (max-width: 600px) {
  .skills > h2 {
    top: 50px;
  }

  .skills--icons {
    margin: 0px;
  }

  .skills--each--icon {
    text-align: center;
    padding: 8px 2px;
  }
  
  .skills--svg {
    font-size: 50px;
  }
}