.App {
  background-image: url('../public/2k_stars_milky_way.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60%;
  background-color: black;
  background-size: cover;
  /* width: 100vw; */
  /* min-height: 100vh; */
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 75px;
  /* background-color: grey; */
}

.mode {
  position: relative;
  left: 90%;
  bottom: 100%;
  z-index: 10;
  padding: 24px;
  color: yellowgreen;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.light {
  background-image: none;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
  .App {
    background-image: none;
  }

  .navbar {
   position: relative;
  }

  .mode {
    left: 85%;
  }
}