.App {
  background-image: url('../public/2k_stars_milky_way.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60%;
  background-color: #021122;
  background-size: cover;
  color: white;
}

.navbar--light {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-bottom: 0.1pt solid gray;
}

.navbar--dark {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  border-bottom: 0.1pt solid gray;
}

.mode {
  position: relative;
  left: 90%;
  z-index: 10;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: inherit;
}

.light {
  background-image: url('../public/wave1.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
  color: black;
}

@media only screen and (max-width: 600px) {
  .App {
    background-image: none;
  }
  .navbar--dark {
    height: 50px;
    background-color: #021122;
  }

  .navbar--light {
    height: 50px;
  }

  .mode {
    left: 85%;
  }
}